*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bs-block {
    float: left;
    width: 100%;
    padding: rem(50) 0;
}

.img {
    @include bp-sm-high {
        max-width: 100%;
    }
}

.text-center {
    text-align: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-black;
    @include opacity(.8);
    display: none;
    z-index: 99;

    &.is-show {
        display: block;
    }
}